<main>
    <section>
        <img class="feature-image" src="https://cdn-icons-png.flaticon.com/512/4807/4807695.png"
            alt="Calculadora de Frete">
        <div>
            <h2 class="feature-title">Simulador de Preços</h2>
            <p class="feature-description">
                Calcule o valor do seu envio instantaneamente.
                Economize tempo e dinheiro comparando as melhores opções!
            </p>
            <a class="button-link" routerLink="/price-simulator">Simular Agora</a>
        </div>
    </section>

    <section>
        <img class="feature-image" src="https://cdn-icons-png.flaticon.com/512/6295/6295417.png" alt="Tabela de Preços">
        <div>
            <h2 class="feature-title">Tabela de Preços</h2>
            <p class="feature-description">
                Consulte nossa tabela completa de valores e prazos para todos os destinos.
                Planeje seus envios com facilidade!
            </p>
            <a class="button-link" routerLink="/price-table">Ver Tabela</a>
        </div>
    </section>
</main>